{% extends 'base.html' %}
{% block content %}
<h1 class="title">Exercises</h1>
<div class="exercises-flex">
    {% for exercise in exercises %}
        <section class="exercises-container">
            <div class="exercise-content">
                <h3>{{exercise.day.name}}</h3>
                <div>
                    <h3>
                        <a href="/exercises/{{exercise.id}}">{{exercise.name}} 
                        </a>
                    </h3>
                    <div class="buttons">
                        <form class="delete-form" action="/exercises/{{exercise.id}}/delete" method="post">
                            <button class="trash-button">
                                <i class="fa fa-trash-o fa-2x" style="color: red"></i>
                            </button>
                        </form>
                    </div>    
                </div>
                
            </div>
        </section>
    {% endfor %}
</div>
{% endblock content %}