{% extends 'base.html' %}

{% block content %}
<h1 class="title">{{exercise.name}}</h1>
<p></p>
    <div class="exercise-display">
        <p>Weight: <i>{{exercise.weight}}</i></p>
        <p>Sets: <i>{{exercise.sets}}</i></p>
        <p>Reps: <i>{{exercise.reps}}</i></p>
        <p>Rest: <i>{{exercise.rest}}</i></p>
        <p>Completed?: <i>{{exercise.completed}}</i></p>
        <p>Day: <i>{{exercise.day.name}}</i></p>
        <a href="/exercises/{{exercise.id}}/edit">Edit</a>
    </div>
{% endblock %}
