{% extends 'base.html' %}

{% block content %}
<h1 class="title"> Days</h1>
<section class="days-container">
{% for day in days %}

<h2>{{day.name}}</h2>
<h3>User: {{day.user.name}}</h3>
<span>
    <div class="buttons">
        <form class="delete-form" action="/days/{{day.id}}/delete" method="post">
            <button class="trash=button">
                <i class="fa fa-trash-o fa-2x" style="color: red"></i>
            </button>
    </div>
</span>
</form>
{% endfor %}
</section>
{% endblock %}