{% extends 'base.html' %}

{% block content %}
<h1 class="title"> Days</h1>
<div class="week-flex">
        {% for day in days %}
        <div class="day-of-week">
        <h2><a href="/days/{{day.id}}">{{day.name}}</a></h2>
        <h3> {{day.user.name}}</h3>
        <span>
            <div class="buttons">
                <form class="delete-form" action="/days/{{day.id}}/delete" method="post">
                    <button class="trash=button">
                        <i class="fa fa-trash-o fa-2x" style="color: red"></i>
                    </button>
            </div>
        </span>
        </form>
        <h3><a href="https://i.ebayimg.com/images/g/v-4AAOSwstxU-DCJ/s-l400.jpg" class="link">Not feeling great</a></h3>
        <h3><a href="https://i.ytimg.com/vi/1YSN-f3rcZM/maxresdefault.jpg" class="link">Really not
             feeling great</a></h3>
        </div>
        {% endfor %}
</div>
        <img src="/static/images/gym-pic2.jpg" alt="gym_image_2" class="image2">
{% endblock %}