{% extends 'base.html' %}

{% block content %}
<h1 class="title"> Days</h1>

<div class="new-ex">
    <div class="new-ex-in">
        <form action="/days" method="post">
            <div class="side">
                <label for="name">Day name</label>
                <input type="text" id="name" name="name">
            </div>

            <div class="side">
                <label for="user">User</label>
                <select id="user" name="user_id">
                     {% for user in users %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endfor %}
                </select>
             </div>
                <div class="button">
                <button type="submit">Add Day</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}