{% extends 'base.html' %}

{% block content %}
<div class="day-position"></div>
    <h1 class=title>{{day.name}}</h1>

    <h2 class="sub-title">Exercises</h2>
</div>
    <div class="exercises-flex">
        {% for exercise in exercises %}
            <section class="exercises-container">
                <div class="exercise-content">
                    <h3>{{exercise.day.name}}</h3>
                    <div>
                        <h3>
                            <a href="/exercises/{{exercise.id}}">{{exercise.name}} 
                                {% if exercise.completed %}
                                <i class="fa fa-check fa-1x" style="color :green"></i>
                                {% else %}
                                <i class="fa fa-times fa-1x" style="color: red"></i>
                                {% endif %}
                            </a>
                        </h3>
                        <button class="completed">
                            <a href="/exercises/{{exercise.id}}/complete">{% if exercise.completed %}
                                Set Incomplete
                            {% else %}
                                Set Complete
                            {% endif %}
                                
                            </a>
                        </button>
                        <div class="buttons">
                            <form class="delete-form" action="/exercises/{{exercise.id}}/delete" method="post">
                                <button class="trash-button">
                                    <i class="fa fa-trash-o fa-2x" style="color: red"></i>
                                </button>
                            </form>
                        </div>    
                    </div>
                    
                </div>
            </section>
        {% endfor %}
    </div>
{% endblock %}