body{
  background: linear-gradient(132deg, #fafafb, #969494,rgb(253, 251, 251));
  background-size: 500% 500%;
  animation: Gradient 15s ease infinite;
}


.content-container{
    max-width: 40rem;
    margin: 0 auto;
    padding: 0;
    height: 100%
}
.title-header{
    color: whitesmoke;
    background: linear-gradient(132deg, #4d4a92, #212335,rgb(113, 41, 41));
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    overflow: hidden;
    padding:0;
    margin:-8px;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-style: oblique;
}

.title{
    color: rgb(48, 46, 46);
    animation: Gradient 15s ease infinite;
    position: relative;
    overflow: hidden;
    padding:30px;
    margin:-8px;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    text-decoration:underline;
}

.sub-title{
  animation: Gradient 15s ease infinite;
  position: relative;
  overflow: hidden;
  padding:50px;
  margin:-8px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-style: italic;
  

  }
.nav-bar{
    color: rgb(234, 40, 40);
    float: right;
    margin:30px 90px;

}

.nav-bar ul{
    list-style: none;
    text-decoration: none;
    transition: .3s;
    font-size: 25px;
    margin-left:0px;
}


.nav-bar ul li a{
    text-decoration: none;
    color: #EFEEF5;
    transition: .5;
    font-size: 25px;
    margin-left:16px;
}



   nav ul li {
    float: left;
    transition: .3s;
  }
  nav ul li a{
    text-decoration: none;
    color: #EFEEF5;
    transition: .5;
    font-size: 25px;
    margin-left:16px;
  }

  .nav-bar ul li:hover a{
    text-decoration: underline;
    color: #EFEEF5;
  }
  .nav-bar ul li:hover{
    height: 5px;
    padding-top: 5px;
    margin-top: 5px;
    color: #EFEEF5;
    text-decoration: none;
    border-radius: 5px;
    transform: skew(15deg);
  }

 .main-para{
    display: flex;
    padding: auto;
    justify-content: center;
    font-size: large;
    font-family: monospace, sans-serif;
    background-color: whitesmoke;
    border-radius: 5%;

 }
.main-para div{
  padding-top: auto;
}

 .quote {
  display: flex;
  padding: auto;
  justify-content: center;
  font-size: large;
  font-family: monospace, sans-serif;
  background-color: whitesmoke;

 }

.input-box{
    height: 50px;
    width: 95%;
    margin: 12px 0;
    border: none;
    outline: none;
    font-size: 125%;
    /* background: #F0F1F8; */
    background: linear-gradient(132deg, #d3d3e7, #212335, rgb(179, 12, 12));
    background-size: 400% 400%;
    border-radius: 6px;
    padding: 0 15px;
    padding-top: 2.5%;
    resize: none;
  }


.button-update{
  display: inline-block;
  margin-top: 20px;
  color: green;
  background-color: black;
  border-radius: 10%;
}

.button{
    display: inline-block;
    justify-content: center;
    margin-top: 12px;
    color: rgb(65, 62, 62);
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #eb4c3d;
    cursor: pointer;
    transition: all 0.3s ease;
}

.completed-button{
  display:inline-block;
  background:  linear-gradient(132deg, #d3d3e7, #b0f3b7, rgb(246, 240, 240));
  background-size: 400%, 400%;
  border-radius: 20%;
}

.button [type="button"]:hover{
    background: #5029bc;
  }


.exercises-container{
    border-style: outset;
    border-width: 5px;
    border-radius: 50px;
    animation: Gradient 15s ease infinite;
    max-width: 100px;
    margin: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    min-height: 180px;
    max-height: 200px
}

.exercises-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.days-container{
  border: #212335;
  background-color: whitesmoke;
  max-width: 30%;
}

@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .exercises-flex {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }

  .week-flex{
    padding-top: 10%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }

  .day-of-week{
    display: flex;
    flex: wrap;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-style: outset;
    border-radius: 10%;
    border-width: 5px;
  
  }

.link{
  text-decoration: underline;
}
  .link:hover{
    height: 5px;
    padding-top: 5px;
    margin-top: 5px;
    color: #e25b2a;
    text-decoration: none;
    border-radius: 5px;
    transform: skew(15deg);

  }

.exercise-display{
  display: grid;
  justify-content: center;
  font-size: 25px;
  animation: Gradient 15s ease infinite;
  border-radius: 20%;
  border-style: inset;
  border-width: 5px;

  }

  .image{
    width: 100%;
    border-radius: 10%;
  }

  .image2{
    width: 100%;
    height: 60%;
    border-radius: 40%;
  }

.new-ex{
  display: flex;
  padding-top: 10%;
  justify-content: center;
  border: inset;
  border-radius: 30%;
  border-width: 5px;
  background-color: whitesmoke;
  align-items: center;
}

.new-ex-in{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10%;
}

.side{
  font-size: 23px;
  font-weight: 600;
  color: #0f0f10;
  padding: 5%;
}