{% extends 'base.html'%}

{% block content %}
<h1 class="title">Workout Builder</h1>
<p class="main-para">
    Welcome to my workout builder. Within this application I have made it possible so that I
    can make different workout days and assign new exercises to these days. Also you
    can update/edit days and exercises alike.

<div>
    <h2 class="quote">"A year from now, you'll wish you had started today"
        - <i>Karen Lamb</i>
    </h2>
</div>
<div>
    <h2 class="quote">"If you want something you’ve never had, you must be willing to do something you’ve never done."
        - <i>Thomas Jefferson</i>
    </h2>
</div>
<div>
    <h2 class="quote">"Pain is weakeness leaving the body"
        - <i>Chesty Puller</i>
    </h2>
</div>
</p>

{% endblock %}